<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yilan.elantrip.dao.BustripNodeMapper" >
  <resultMap id="BaseResultMap" type="com.yilan.elantrip.domain.BustripNode" >
    <id column="bustrip_node_id" property="bustripNodeId" jdbcType="INTEGER" />
    <result column="bustrip_id" property="bustripId" jdbcType="INTEGER" />
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="node_type" property="nodeType" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    bustrip_node_id, bustrip_id, node_code, node_name, node_type, activated, deleted, 
    updated_date, created_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bustrip_node
    where bustrip_node_id = #{bustripNodeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bustrip_node
    where bustrip_node_id = #{bustripNodeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yilan.elantrip.domain.BustripNode" >
    <selectKey resultType="java.lang.Integer" keyProperty="bustripNodeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bustrip_node (bustrip_id, node_code, node_name, 
      node_type, activated, deleted, 
      updated_date, created_date)
    values (#{bustripId,jdbcType=INTEGER}, #{nodeCode,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{nodeType,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, 
      #{updatedDate,jdbcType=TIMESTAMP}, #{createdDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yilan.elantrip.domain.BustripNode" >
    <selectKey resultType="java.lang.Integer" keyProperty="bustripNodeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bustrip_node
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bustripId != null" >
        bustrip_id,
      </if>
      <if test="nodeCode != null" >
        node_code,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="nodeType != null" >
        node_type,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bustripId != null" >
        #{bustripId,jdbcType=INTEGER},
      </if>
      <if test="nodeCode != null" >
        #{nodeCode,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeType != null" >
        #{nodeType,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yilan.elantrip.domain.BustripNode" >
    update t_bustrip_node
    <set >
      <if test="bustripId != null" >
        bustrip_id = #{bustripId,jdbcType=INTEGER},
      </if>
      <if test="nodeCode != null" >
        node_code = #{nodeCode,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="nodeType != null" >
        node_type = #{nodeType,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bustrip_node_id = #{bustripNodeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yilan.elantrip.domain.BustripNode" >
    update t_bustrip_node
    set bustrip_id = #{bustripId,jdbcType=INTEGER},
      node_code = #{nodeCode,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      node_type = #{nodeType,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      created_date = #{createdDate,jdbcType=TIMESTAMP}
    where bustrip_node_id = #{bustripNodeId,jdbcType=INTEGER}
  </update>
  
  <insert id="addBustripNodes" parameterType="com.yilan.elantrip.domain.BustripNode">
     insert into t_bustrip_node(node_code, bustrip_id) values
     <foreach collection="bustripNodes" item="bustripNode" separator=",">
     (#{bustripNode.nodeCode,jdbcType=VARCHAR},#{bustripNode.bustripId,jdbcType=VARCHAR})
     </foreach>
     
  </insert>
  
		
</mapper>