<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilan.elantrip.dao.UserMapper">
	<resultMap id="BaseResultMap"
		type="com.yilan.elantrip.domain.User">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR"
			property="userName" />
		<result column="china_name" jdbcType="VARCHAR"
			property="chinaName" />
		<result column="english_name" jdbcType="VARCHAR"
			property="englishName" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="nickName" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="birthday" jdbcType="DATE" property="birthday" />
		<result column="gender" jdbcType="INTEGER" property="gender" />
		<result column="other_mobile" jdbcType="VARCHAR"
			property="otherMobile" />
		<result column="invitation_code" jdbcType="VARCHAR"
			property="invitationCode" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="company_address" jdbcType="VARCHAR"
			property="companyAddress" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="company_name" jdbcType="VARCHAR"
			property="companyName" />
		<result column="company_level" jdbcType="INTEGER"
			property="companyLevel" />
		<result column="openid" jdbcType="VARCHAR" property="openid" />
		<result column="legal" jdbcType="VARCHAR" property="legal" />
		<result column="contact_name" jdbcType="VARCHAR"
			property="contactName" />
		<result column="bs_introduction" jdbcType="VARCHAR"
			property="bsIntroduction" />
		<result column="tmp_type" jdbcType="VARCHAR" property="tmpType" />
		<result column="start_time" jdbcType="TIMESTAMP"
			property="startTime" />
		<result column="changed_company_level" jdbcType="INTEGER"
			property="changedCompanyLevel" />
		<result column="last_login" jdbcType="TIMESTAMP"
			property="lastLogin" />
		<result column="business_licence" jdbcType="VARCHAR"
			property="businessLicence" />
		<result column="tax_registration" jdbcType="VARCHAR"
			property="taxRegistration" />
		<result column="legal_Identity" jdbcType="VARCHAR"
			property="legalIdentity" />
		<result column="contract" jdbcType="VARCHAR"
			property="contract" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="province" jdbcType="VARCHAR"
			property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="activated" jdbcType="INTEGER"
			property="activated" />
		<result column="deleted" jdbcType="INTEGER" property="deleted" />
		<result column="updated_date" jdbcType="TIMESTAMP"
			property="updatedDate" />
		<result column="created_date" jdbcType="TIMESTAMP"
			property="createdDate" />
	</resultMap>
	<resultMap id="RSuserOrder"
		type="com.yilan.elantrip.domain.rs.RSuserOrder">
		<result column="orderCode" property="orderCode" />
		<result column="prodTitle" property="prodTitle" />
		<result column="userName" property="userName" />
		<result column="prodType" property="prodType" />
		<result column="price" property="price" />
		<result column="contactPerson" property="contactPerson" />
		<result column="discount" property="discount" />
		<result column="fromLocation" property="fromLocation" />
		<result column="createdDate" property="createdDate" />
		<result column="remark" property="remark" />
		<result column="created_date" property="createdDate" />
		<result column="activated" property="activated" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_name, china_name, english_name, nick_name, icon, password,
		birthday,
		gender, other_mobile, invitation_code, mobile, email, company_address,
		remark, type,
		company_name, company_level, openid, legal, contact_name, bs_introduction,
		tmp_type,
		start_time, changed_company_level, last_login, business_licence,
		tax_registration,
		legal_Identity, contract, country, province, city, activated, deleted, updated_date,
		created_date
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.yilan.elantrip.domain.User">
		<selectKey keyProperty="userId" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_user (user_name, china_name, english_name,
		nick_name, icon, password,
		birthday, gender, other_mobile,
		invitation_code, mobile, email,
		company_address, remark, type,
		company_name, company_level, openid,
		legal, contact_name, bs_introduction,
		tmp_type, start_time, changed_company_level,
		last_login, business_licence, tax_registration,
		legal_Identity, contract, country,
		province, city, activated,
		deleted, updated_date, created_date
		)
		values (#{userName,jdbcType=VARCHAR}, #{chinaName,jdbcType=VARCHAR},
		#{englishName,jdbcType=VARCHAR},
		#{nickName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{birthday,jdbcType=DATE}, #{gender,jdbcType=INTEGER},
		#{otherMobile,jdbcType=VARCHAR},
		#{invitationCode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{companyAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{companyName,jdbcType=VARCHAR}, #{companyLevel,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR},
		#{legal,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR},
		#{bsIntroduction,jdbcType=VARCHAR},
		#{tmpType,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
		#{changedCompanyLevel,jdbcType=INTEGER},
		#{lastLogin,jdbcType=TIMESTAMP}, #{businessLicence,jdbcType=VARCHAR},
		#{taxRegistration,jdbcType=VARCHAR},
		#{legalIdentity,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{activated,jdbcType=INTEGER},
		#{deleted,jdbcType=INTEGER}, #{updatedDate,jdbcType=TIMESTAMP},
		#{createdDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.yilan.elantrip.domain.User">
		<selectKey keyProperty="userId" order="AFTER"
			resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				user_name,
			</if>
			<if test="chinaName != null">
				china_name,
			</if>
			<if test="englishName != null">
				english_name,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="otherMobile != null">
				other_mobile,
			</if>
			<if test="invitationCode != null">
				invitation_code,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="companyAddress != null">
				company_address,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="companyLevel != null">
				company_level,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="legal != null">
				legal,
			</if>
			<if test="contactName != null">
				contact_name,
			</if>
			<if test="bsIntroduction != null">
				bs_introduction,
			</if>
			<if test="tmpType != null">
				tmp_type,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="changedCompanyLevel != null">
				changed_company_level,
			</if>
			<if test="lastLogin != null">
				last_login,
			</if>
			<if test="businessLicence != null">
				business_licence,
			</if>
			<if test="taxRegistration != null">
				tax_registration,
			</if>
			<if test="legalIdentity != null">
				legal_Identity,
			</if>
			<if test="contract != null">
				contract,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="activated != null">
				activated,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="updatedDate != null">
				updated_date,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="chinaName != null">
				#{chinaName,jdbcType=VARCHAR},
			</if>
			<if test="englishName != null">
				#{englishName,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=INTEGER},
			</if>
			<if test="otherMobile != null">
				#{otherMobile,jdbcType=VARCHAR},
			</if>
			<if test="invitationCode != null">
				#{invitationCode,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="companyAddress != null">
				#{companyAddress,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyLevel != null">
				#{companyLevel,jdbcType=INTEGER},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="legal != null">
				#{legal,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				#{contactName,jdbcType=VARCHAR},
			</if>
			<if test="bsIntroduction != null">
				#{bsIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="tmpType != null">
				#{tmpType,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="changedCompanyLevel != null">
				#{changedCompanyLevel,jdbcType=INTEGER},
			</if>
			<if test="lastLogin != null">
				#{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="businessLicence != null">
				#{businessLicence,jdbcType=VARCHAR},
			</if>
			<if test="taxRegistration != null">
				#{taxRegistration,jdbcType=VARCHAR},
			</if>
			<if test="legalIdentity != null">
				#{legalIdentity,jdbcType=VARCHAR},
			</if>
			<if test="contract != null">
				#{contract,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="activated != null">
				#{activated,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=INTEGER},
			</if>
			<if test="updatedDate != null">
				#{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.yilan.elantrip.domain.User">
		update t_user
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="chinaName != null">
				china_name = #{chinaName,jdbcType=VARCHAR},
			</if>
			<if test="englishName != null">
				english_name = #{englishName,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=DATE},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=INTEGER},
			</if>
			<if test="otherMobile != null">
				other_mobile = #{otherMobile,jdbcType=VARCHAR},
			</if>
			<if test="invitationCode != null">
				invitation_code = #{invitationCode,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="companyAddress != null">
				company_address = #{companyAddress,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="companyLevel != null">
				company_level = #{companyLevel,jdbcType=INTEGER},
			</if>
			<if test="openid != null">
				openid = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="legal != null">
				legal = #{legal,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				contact_name = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="bsIntroduction != null">
				bs_introduction = #{bsIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="tmpType != null">
				tmp_type = #{tmpType,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="changedCompanyLevel != null">
				changed_company_level = #{changedCompanyLevel,jdbcType=INTEGER},
			</if>
			<if test="lastLogin != null">
				last_login = #{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="businessLicence != null">
				business_licence = #{businessLicence,jdbcType=VARCHAR},
			</if>
			<if test="taxRegistration != null">
				tax_registration = #{taxRegistration,jdbcType=VARCHAR},
			</if>
			<if test="legalIdentity != null">
				legal_Identity = #{legalIdentity,jdbcType=VARCHAR},
			</if>
			<if test="contract != null">
				contract = #{contract,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="activated != null">
				activated = #{activated,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=INTEGER},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.yilan.elantrip.domain.User">
		update t_user
		set user_name = #{userName,jdbcType=VARCHAR},
		china_name = #{chinaName,jdbcType=VARCHAR},
		english_name = #{englishName,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		icon = #{icon,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=DATE},
		gender = #{gender,jdbcType=INTEGER},
		other_mobile = #{otherMobile,jdbcType=VARCHAR},
		invitation_code = #{invitationCode,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		company_address = #{companyAddress,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		type = #{type,jdbcType=INTEGER},
		company_name = #{companyName,jdbcType=VARCHAR},
		company_level = #{companyLevel,jdbcType=INTEGER},
		openid = #{openid,jdbcType=VARCHAR},
		legal = #{legal,jdbcType=VARCHAR},
		contact_name = #{contactName,jdbcType=VARCHAR},
		bs_introduction = #{bsIntroduction,jdbcType=VARCHAR},
		tmp_type = #{tmpType,jdbcType=VARCHAR},
		start_time = #{startTime,jdbcType=TIMESTAMP},
		changed_company_level = #{changedCompanyLevel,jdbcType=INTEGER},
		last_login = #{lastLogin,jdbcType=TIMESTAMP},
		business_licence = #{businessLicence,jdbcType=VARCHAR},
		tax_registration = #{taxRegistration,jdbcType=VARCHAR},
		legal_Identity = #{legalIdentity,jdbcType=VARCHAR},
		contract = #{contract,jdbcType=VARCHAR},
		country = #{country,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		activated = #{activated,jdbcType=INTEGER},
		deleted = #{deleted,jdbcType=INTEGER},
		updated_date = #{updatedDate,jdbcType=TIMESTAMP},
		created_date = #{createdDate,jdbcType=TIMESTAMP}
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<select id="selectByMobile" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from t_user
		where mobile =
		#{mobile,jdbcType=VARCHAR}
	</select>
	<select id="selectByEmail" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from t_user
		where email =
		#{email,jdbcType=VARCHAR}
	</select>
	<select id="selectUserByUserName" resultMap="BaseResultMap">
		select *
		from t_user
		where user_name=#{userName}
	</select>
	<select id="countTotal" resultType="java.lang.Integer">
		SELECT count(*) FROM t_user
		<where>
			<if test="params.userName!=null and params.userName!=''">
				and user_name like
				"%"#{params.userName,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.mobile!=null and params.mobile!=''">
				and mobile like
				"%"#{params.mobile,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.activated!=null and params.activated!=''">
				and activated = #{params.activated,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<select id="selectPersonalUserList" resultMap="BaseResultMap">
		SELECT
		user_id,
		user_name,
		mobile,
		gender,
		type,
		created_date,
		remark,
		activated
		FROM
		t_user
		<where>
			<if test="params.userName!=null and params.userName!=''">
				and user_name like
				"%"#{params.userName,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.mobile!=null and params.mobile!=''">
				and mobile like
				"%"#{params.mobile,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.activated!=null and params.activated!=''">
				and activated = #{params.activated,jdbcType=INTEGER}
			</if>
			and type=1
		</where>
		limit #{startNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="selectCompanyUserList" resultMap="BaseResultMap">
		SELECT
		user_id,
		company_name,
		email,
		contact_name,
		mobile,
		company_level,
		activated,
		created_date,
		remark
		FROM
		t_user
		<where>
			<if test="params.companyName!=null and params.companyName!=''">
				and company_name like
				"%"#{params.companyName,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.email!=null and params.email!=''">
				and email like
				"%"#{params.email,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.contactName!=null and params.contactName!=''">
				and contact_name like
				"%"#{params.contactName,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.mobile!=null and params.mobile!=''">
				and mobile like
				"%"#{params.mobile,jdbcType=VARCHAR}"%"
			</if>
			<if test="params.activated!=null and params.activated!=''">
				and activated = #{params.activated,jdbcType=INTEGER}
			</if>
			and type=2
		</where>
		limit #{startNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>

	<select id="selectUserDetail" resultMap="BaseResultMap">
		select
		*
		from t_user
		where
		user_id=#{userId}
	</select>



	<select id="getUserOrderByUserId" resultMap="RSuserOrder">
		select
		o.order_code
		as orderCode,
		p.prod_title as prodTitle,
		u.user_name as userName,
		pt.name as prodType,
		o.contact_person as contactPerson,
		o.actual_money
		as price,
		u.company_level as discount,
		p.from_location as fromLocation,
		o.created_date as createdDate,
		o.remark as remark,
		o.activated as
		activated
		from
		t_user u,
		t_order o,
		t_prod p,
		t_prod_type pt
		where
		p.prod_id=o.prod_id
		and u.user_id = o.user_id
		and
		pt.prod_type_id=p.type_id
		and u.user_id=#{userId}
	</select>
	<update id="modifyUserActivatedByEmail">
		update t_user
		set
		activated = 1
		where email =
		#{email}
	</update>

	<select id="login" parameterType="Map" resultMap="BaseResultMap">
		select
		password
		from
		t_user
		<where>
			<if test="email!=null and email!=''">
				and email=#{email}
			</if>
			<if test="mobile!=null and mobile !=''">
				and mobile=#{mobile}
			</if>
			<if test="userName!=null and userName !=''">
				and user_name=#{userName}
			</if>
		</where>
	</select>

	<!-- 批量插入 -->
	<insert id="insertBatchUserLinkTravller"
		parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer"
			keyProperty="userLinkTravllerId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_user_link_traveller
		(user_id,order_code,country,china_name,en_name,cer_code,cer_type,cer_end_date,gender,birth,email,mobile,user_type,is_link,is_default,is_often,activated,deleted,updated_date,
		created_date)
		values
		<foreach collection="userLinkTravllerList" item="item"
			index="index" separator=",">
			(
			#{item.userId},
			#{item.corder_code},
			#{country},
			#{item.china_name},
			#{item.en_name},
			#{item.cer_code},
			#{item.cer_type},
			#{item.cer_end_date},
			#{item.gender},
			#{item.birth},
			#{item.email},
			#{item.mobile},
			#{item.user_type},
			#{item.is_link},
			#{item.is_default},
			#{item.is_often},
			#{item.activated},
			#{item.updated_date},
			#{item.created_date}
			)
		</foreach>
	</insert>
	<select id="getUserListByUserNames" resultMap="BaseResultMap">
		select
		distinct(user_id),mobile
		from
		t_user
		<where>
			<if test="userNames!=null and userNames!=''">
				user_name in
				<foreach collection="userNames.split(',')" item="item"
					index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<select id="getUserListByUserTempType" resultMap="BaseResultMap">
		select
		distinct(user_id),mobile
		from
		t_user
		<where>
			<foreach collection="userTempTypes.split(',')" item="item"
				index="index" separator="OR">
				`tmp_type` LIKE CONCAT('%',#{item},'%')
			</foreach>
		</where>
	</select>
	<select id="getCompanyLevelCorrelation"
		resultMap="BaseResultMap">
		select
		company_level,
		start_time,
		changed_company_level
		from
		t_user
		where
		user_id=#{userId}
	</select>
</mapper>